$color-bg : #FFFEF8;
$color-main: #1D6154;

.button-container{
    text-align: center;
    padding: 30px;

    .button-categories{
        background-color: $color-bg;
        border-radius: 50px;
        padding: 8px 10px;
        margin: 5px;
        min-width: 80px;
        border: 1px solid $color-main;
        color: $color-main;
        font-weight: 600;
        font-size: 1.2em;
        font-family: 'Syne';

        &-selected{
            background-color: $color-main;
            color: $color-bg;
        }
    }
}

body{
    background-color: $color-bg;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

li a{
    text-decoration: none;
    color: black;

    &:hover{    
    	color: #B1663C;
    }
}

.oubli-mdp{
    text-align: center;
    color: black;
}

.edition{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    background-color: black;
    color: $color-bg;
    height: 50px;
    width: 100%;
    //margin-bottom: 35px;

    i{
        padding: 0 10px;
    }
}

.header-edition{
    margin-top: 90px;
}

.titre-container{
    display: flex;
    justify-content: center;
    align-items: center;

    & > * {
        margin:  0 !important;
    }
}

.modifier{

    padding-left: 30px;
    &-link{
        text-decoration: none;
        color: black;
    }
}

.notDisplayed{
    display: none;
}

.wrong-connection{
    border: solid 2px darken($color: red, $amount: 10) !important;
}

#contact p{
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
    color: darken($color: red, $amount: 10);
}

.modale{

    border: none;
    border-radius: 15px;
    height: 70%;
    width: 30%;

    &-content{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        height: 100%;
        //background-color: aquamarine;
    }

    &-photos{
        width: 75%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        row-gap: 15px;
        column-gap: 7px;

        img{
            width: 100%;
        }

        figure{
            position: relative;
        }
    }

    &-ligne{
        height: 1px;
        width: 75%;
        margin-top: 30px;
        background-color: grey;
    }

    &-corbeille{
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 3px;
        right: 3px;
        color: white;
        background-color: black;
        width: 20px;
        height: 20px;
        border-radius: 3px;
    }

    h3{
        padding: 30px;
        font-size: 1.5em;
    }

    &-close{
        position: absolute;
        right: 20px;
        top: 25px;
        cursor: pointer;
    }

    &::backdrop{
        background-color: rgba(0,0,0,0.4);
    }
}

.real-button{
    border: none;
    padding: 10px 20px;
    font-size: 1.2em;
    width: 250px;
    cursor: pointer;
}