.button-container {
  text-align: center;
  padding: 30px;
}
.button-container .button-categories {
  background-color: #FFFEF8;
  border-radius: 50px;
  padding: 8px 10px;
  margin: 5px;
  min-width: 80px;
  border: 1px solid #1D6154;
  color: #1D6154;
  font-weight: 600;
  font-size: 1.2em;
  font-family: "Syne";
}
.button-container .button-categories-selected {
  background-color: #1D6154;
  color: #FFFEF8;
}

body {
  background-color: #FFFEF8;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

li a {
  text-decoration: none;
  color: black;
}
li a:hover {
  color: #B1663C;
}

.oubli-mdp {
  text-align: center;
  color: black;
}

.edition {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  background-color: black;
  color: #FFFEF8;
  height: 50px;
  width: 100%;
}
.edition i {
  padding: 0 10px;
}

.header-edition {
  margin-top: 90px;
}

.titre-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.titre-container > * {
  margin: 0 !important;
}

.modifier {
  padding-left: 30px;
}
.modifier-link {
  text-decoration: none;
  color: black;
}

.notDisplayed {
  display: none;
}

.wrong-connection {
  border: solid 2px #cc0000 !important;
}

#contact p {
  text-align: center;
  margin-top: 20px;
  font-weight: bold;
  color: #cc0000;
}

.modale {
  border: none;
  border-radius: 15px;
  height: 70%;
  width: 30%;
}
.modale-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
}
.modale-photos {
  width: 75%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  row-gap: 15px;
  -moz-column-gap: 7px;
       column-gap: 7px;
}
.modale-photos img {
  width: 100%;
}
.modale-photos figure {
  position: relative;
}
.modale-ligne {
  height: 1px;
  width: 75%;
  margin: 30px;
  background-color: grey;
}
.modale-corbeille {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 3px;
  right: 3px;
  color: white;
  background-color: black;
  width: 20px;
  height: 20px;
  border-radius: 3px;
}
.modale h3 {
  padding: 30px;
  font-size: 1.5em;
}
.modale::backdrop {
  background-color: rgba(0, 0, 0, 0.4);
}