.button-container {
  text-align: center;
  padding: 30px;
}
.button-container .button-categories {
  background-color: #FFFEF8;
  border-radius: 50px;
  padding: 8px 10px;
  margin: 5px;
  min-width: 80px;
  border: 1px solid #1D6154;
  color: #1D6154;
  font-weight: 600;
  font-size: 1.2em;
  font-family: "Syne";
}
.button-container .button-categories-selected {
  background-color: #1D6154;
  color: #FFFEF8;
}

body {
  background-color: #FFFEF8;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

li a {
  text-decoration: none;
  color: black;
}
li a:hover {
  color: #B1663C;
}

.oubli-mdp {
  text-align: center;
  color: black;
}

.edition {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  background-color: black;
  color: #FFFEF8;
  height: 50px;
  width: 100%;
}

.header-edition {
  margin-top: 90px;
}

.titre-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.titre-container > * {
  margin: 0 !important;
}

.modifier {
  padding-left: 30px;
}
.modifier-link {
  text-decoration: none;
  color: black;
}

.notDisplayed {
  display: none;
}