.button-container {
  text-align: center;
  padding: 30px;
}
.button-container .button-categories {
  background-color: #FFFEF8;
  border-radius: 50px;
  padding: 8px 10px;
  margin: 5px;
  min-width: 80px;
  border: 1px solid #1D6154;
  color: #1D6154;
  font-weight: 600;
  font-size: 1.2em;
  font-family: "Syne";
}
.button-container .button-categories-selected {
  background-color: #1D6154;
  color: #FFFEF8;
}

body {
  background-color: #FFFEF8;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

li a {
  text-decoration: none;
  color: black;
}
li a:hover {
  color: #B1663C;
}

.oubli-mdp {
  text-align: center;
  color: black;
}

.edition {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  background-color: black;
  color: #FFFEF8;
  height: 50px;
  width: 100%;
}
.edition i {
  padding: 0 10px;
}

.header-edition {
  margin-top: 90px;
}

.titre-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.titre-container > * {
  margin: 0 !important;
}

.modifier {
  padding-left: 30px;
}
.modifier-link {
  text-decoration: none;
  color: black;
}

.notDisplayed {
  display: none;
}

.wrong-connection {
  border: solid 2px #cc0000 !important;
}

#contact p {
  text-align: center;
  margin-top: 20px;
  font-weight: bold;
}

#error-container {
  color: #cc0000;
}

.modale {
  border: none;
  border-radius: 15px;
  height: 70%;
  width: 30%;
}
.modale-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
}
.modale-photos {
  width: 75%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  row-gap: 15px;
  -moz-column-gap: 7px;
       column-gap: 7px;
}
.modale-photos img {
  width: 100%;
}
.modale-photos figure {
  position: relative;
}
.modale-ligne {
  height: 1px;
  width: 75%;
  margin-top: 30px;
  background-color: grey;
}
.modale-corbeille {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 3px;
  right: 3px;
  color: white;
  background-color: black;
  width: 20px;
  height: 20px;
  border-radius: 3px;
  cursor: pointer;
}
.modale h3 {
  padding: 30px;
  font-size: 1.5em;
}
.modale-close {
  position: absolute;
  right: 20px;
  top: 25px;
  cursor: pointer;
}
.modale-back {
  position: absolute;
  left: 20px;
  top: 25px;
  cursor: pointer;
}
.modale::backdrop {
  background-color: rgba(0, 0, 0, 0.4);
}
.modale-ajout {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: 75%;
  height: 200px;
  background-color: #E8F1F6;
}
.modale-ajout label {
  background-color: #CBD6DC;
  color: #306685;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px 30px;
}
.modale-ajout i {
  color: #CBD6DC;
  transform: scale(5);
}
.modale-ajout p {
  padding-bottom: 20px;
}
.modale-ajout input[type=file] {
  display: none;
}
.modale-ajout img {
  height: 100%;
}

.real-button {
  border: none;
  padding: 10px 20px;
  font-size: 1.2em;
  width: 250px;
  cursor: pointer;
}

.form-ajout {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  /*     & > *{
          text-align: center;
      } */
}
.form-ajout input, .form-ajout select {
  width: 100%;
  height: 50px;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
.form-ajout label {
  margin: 2em 0 1em 0;
}
.form-ajout form {
  width: 75%;
  display: flex;
  flex-direction: column;
  text-align: left;
}
.form-ajout .modale-ligne {
  height: 1px;
  width: 100%;
  margin-top: 30px;
  background-color: grey;
}